.container {
    padding-bottom: var(--mantine-spacing-md);
}

.command-parameters {
    width: 100%;

    th {
        text-align: left;
    }
}

.command-help,
.param-info {
    font-style: italic;
}
