@use '@/constants.scss' as constants;

$content-padding: 16px;

.content {
    position: absolute;
    z-index: 93;

    padding: $content-padding;

    max-width: calc(100% - 2 * constants.$margin-map-elements);

    border-radius: 4px;

    background-color: var(--background-default-grey);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);

    display: none;

    &.showed {
        display: block;
    }

    .close-button {
        position: absolute;

        right: 0.5rem;
        top: 0.5rem;
    }
}
