@import '@/constants.scss';

$content-padding: 24px;

.wrapper {
    position: relative;
}

.button {
    border-radius: $border-radius-small !important;
}

.content {
    box-shadow: $shadow;

    position: absolute;
    z-index: 93;

    border-radius: $border-radius-medium;

    background: #ffffff99;

    padding: $content-padding;
    
    max-width: calc(100% - 2 * $margin-map-elements);

    display: none;

    &.showed {
        display: block;
    }

    .close-button {
        position: absolute;

        right: $content-padding;
        top: $content-padding;
    }
}
