@use '@/constants.scss' as constants;

.content {
    padding: constants.$content-padding;
}

.title {
    margin-bottom: var(--mantine-spacing-md);
}

.chart-container {
    margin-top: var(--mantine-spacing-sm);
    position: relative;
}
