@use '@/constants.scss' as constants;

.content {
    bottom: calc(
        80px + var(--nbr-background-layers) * 30px
    ); // 144px (slide background layers button height) + 10px (slide background layers button margin) + 20px (switch height) + 10px (switch margin) + 16px (switch padding)
    left: 0;

    margin-left: constants.$margin-map-elements;
    margin-bottom: constants.$margin-map-elements;

    padding: 0;

    background: #ffffff;
}

.container {
    margin: 0 0 constants.$margin-map-elements constants.$margin-map-elements;

    padding: 8px 12px;

    box-shadow: constants.$shadow;
    background: #ffffff;
    border-radius: constants.$border-radius-medium;
}

.button {
    --button-radius: 24px;
}
