@use '@/constants.scss' as constants;

.content {
    bottom: 46px; // 20px (toggle height) + 10px (toggle margin) + 16px (toggle padding)

    left: 0;

    @include constants.map-control-offset-bottom-left;
    margin-bottom: constants.$margin-map-elements;

    padding: 8px;

    z-index: 92;
}
