@import '@/constants.scss';

.content {
    bottom: 46px; // 20px (switch height) + 10px (switch margin) + 16px (switch padding)

    left: 0;

    margin-left: $margin-map-elements;
    margin-bottom: $margin-map-elements;

    padding: 8px 12px;
    border-radius: 18px;

    z-index: 92;

    background: #ffffff;

    .controller {
        background: #ffffff;
    }
}
