@use '@/constants.scss' as constants;

.content {
    z-index: 100;

    max-height: calc(100% - 20px - 14px * 2 - 10px * 2 - 10px); // total size of search bar + margins

    margin-left: constants.$margin-map-elements;
    margin-top: constants.$margin-map-elements;

    top: 58px; // 10px margin of searchar bar + 48px total size of search bar
    overflow-y: auto;

    @media screen and (max-width: 992px) {
        top: calc(58px + 34px + 10px); // initial top + control buttons on tablet
        max-height: calc(
            100% - 20px - 14px * 2 - 10px * 2 - 10px - 34px - 10px
        ); // total size of search bar + margins + control buttons on tablet
    }

    .empty-filter-text {
        font-style: italic;
        margin-top: var(--mantine-spacing-sm);
    }

    .form {
        padding-bottom: 0;
    }
}

.container {
    box-shadow: constants.$shadow;
    background: #ffffff;
    border-radius: constants.$border-radius-small;
}

.layers-sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    white-space: nowrap;

    .layers-section {
        .layers-section-title {
            margin-top: var(--mantine-spacing-sm);

            &:first-letter {
                text-transform: uppercase;
            }
        }

        .layers-section-group {
            margin-top: var(--mantine-spacing-xs);
        }
    }
}

.checkbox-label {
    display: flex;
    align-items: center;
}
