$space-between-elements: 16px;

.filters-section {
    margin-bottom: $space-between-elements;
}

.before-table-container {
    margin-bottom: $space-between-elements;
}

.error-card {
    margin-bottom: $space-between-elements;
}

.table-container {
    margin-bottom: $space-between-elements;

    tbody {
        position: relative;
    }

    .table {
        td {
            vertical-align: top;
        }

        tr {
            transition: background 0.25s ease-in-out;
        }
    }
}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $space-between-elements;
}

.table-infos {
    font-style: italic;
    color: var(--mantine-color-gray-text);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-clickable {
    tbody {
        tr {
            cursor: pointer;
        }
    }
}

.global-select {
    margin-left: 10px; // var(--table-vertical-spacing)
    margin-bottom: $space-between-elements;
}

.table-row {
    &.row-clickable {
        cursor: pointer;
    }
}

.loader {
    margin-top: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
}
